/* Your Website Styles */
body{
	background: url("../img/concrete_wall.png");
	font-family: 'Alegreya Sans 400', sans-serif;
	color:#333;
}

header{
	margin:0 0;
}


h1{
	background: #277D71;
	padding: 10px 20px;
	margin:0 -10px;
	border-radius: 3px;
	position:relative;
	width:95%;
	box-shadow:0 3px #1F635A; 
	font-family: 'Alegreya Sans 300', sans-serif;
	transition: width 1s;
}

.long h1{
	width:980px;
}

section{
	background:#70C9A9;
	margin:0;
	border-radius:5px;
}

p{
	padding:5px;
}

.icons img{
	padding:0 8px;
}

a{
	color:#333;
}


nav li{ 
	list-style:none;
	margin:10px 80px ;
	float:left;
	color:#999;
	transition: 0.5s;
}

	
.arrow{

   width:0;
   height:0;
   line-height:0;
   border-left: 10px solid transparent;
   border-top: 10px solid #1F635A ;
   position: absolute;
   top:100%;
   left:0;
}



a{

	text-decoration:none;
}

li img{
	float:left;
}

/*Nav styling*/
#navigation_container{
	margin: 0 auto;
	width:1000px;
}

.rectangle{
	background: #70C9A9;
	height:60px;
	position:relative;
	-moz-box-shadow: 0px 2px #1F635A;
    box-shadow: 0px 2px #1F635A;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
	border-radius:5px;
	margin:0 3 10 3;
}

/* Show Grid */
.showgrid {
	background: url(../img/tree_bark.png);
	
}


/*Icons*/
.heart{
	background: url("../img/heart.png");
	max-width:100px;
	max-height:100px;
	
}


/* Skill Animation Bars */

/* Layout */
	.graph {
	  width: 100%;
	  position: relative;
	  white-space: nowrap;
	}

	ul li {
	  list-style: none;
	  padding-left: 0;
	  margin-bottom: 1em;
	}

	/* sizes 
	@-webkit-size1: 80%;
	@-webkit-size2: 53%;
	@-webkit-size3: 60%;

	/*bars
	.bar1 {
	  height:30px;
	  line-height:30px;
	  animation-name: bar1;
	  animation-duration: 2s;
	  animation-timing-function: ease;
	  animation-fill-mode: forwards;
	}

	.bar2 {
	  height:30px;
	  line-height:30px;
	  -webkit-animation-name: bar2;
	  -webkit-animation-duration: 2s;
	  -webkit-animation-timing-function: ease;
	  -webkit-animation-fill-mode: forwards;
	}

	.bar3 {
	  height:30px;
	  line-height:30px;
	 -webkit-animation-name: bar3;
	 -webkit-animation-duration: 2s;
	 -webkit-animation-timing-function: ease;
	 -webkit-animation-fill-mode: forwards;
	}


	/*animations
	@keyframes bar1 {
	  0% 
	  {
	    width: 0;
	  }
	  100% {
	    background: #1F635A;
	    width: @size1;
	  }
	}

	@keyframes bar2 {
	  0% {
	    width: 0;
	  }
	  100% {
	    background: #1F635A;
	    width: @size2;
	  }
	}
	@keyframes bar3 {
	  0% {
	    width: 0;
	  }
	  100% {
	    background: #1F635A;
	    width: @size3;
	  }
	}*/

/*Chrome*/

		.bar1 {
		color:#fff;	
		padding:0 0 0 3px;
		border-radius:3px;
	  -webkit-animation-name: bar1;
	  -webkit-animation-timing-function: ease;
	  -webkit-animation-fill-mode: forwards; 
	  -webkit-animation-duration: 2s;
	 
	}

	.bar2 {
		color:#fff;	
		padding:0 0 0 3px;
		border-radius:3px;
	  -webkit-animation-name: bar2;
	  -webkit-animation-duration: 2s;
	  -webkit-animation-timing-function: ease;
	  -webkit-animation-fill-mode: forwards;
	}

	.bar3 {
		color:#fff;	
		padding:0 0 0 3px;
		border-radius:3px;
	 -webkit-animation-name: bar3;
	 -webkit-animation-duration: 2s;
	 -webkit-animation-timing-function: ease;
	 -webkit-animation-fill-mode: forwards;
	}

	.bar4 {
			color:#fff;	
			padding:0 0 0 3px;
			border-radius:3px;
		 -webkit-animation-name: bar4;
		 -webkit-animation-duration: 2s;
		 -webkit-animation-timing-function: ease;
		 -webkit-animation-fill-mode: forwards;
		}
	.bar5 {
		color:#fff;	
		padding:0 0 0 3px;
		border-radius:3px;
	 -webkit-animation-name: bar5;
	 -webkit-animation-duration: 2s;
	 -webkit-animation-timing-function: ease;
	 -webkit-animation-fill-mode: forwards;
	}

		/*Chrome*/
		@-webkit-keyframes bar1 {
	  0% 
	  {
	    width: 0;
	  }
	  100% {
	    background: #1F635A;
	    width: 75%;
	  }
	}

	@-webkit-keyframes bar2 {
	  0% {
	    width: 0;
	  }
	  100% {
	    background: #1F635A;
	    width: 60%;
	  }
	}
	@-webkit-keyframes bar3 {
	  0% {
	    width: 0;
	  }
	  100% {
	    background: #1F635A;
	    width: 90%;
	  }
	}

		@-webkit-keyframes bar4 {
	  0% {
	    width: 0;
	  }
	  100% {
	    background: #1F635A;
	    width: 40%;
	  }
	}

		@-webkit-keyframes bar5 {
	  0% {
	    width: 0;
	  }
	  100% {
	    background: #1F635A;
	    width: 50%;
	  }
	}

/*hover effects*/

nav li:hover{
	margin-top:1px;
}


/* Colors 
background: #666;
Octopus 1 #DE745E
Octopus 2 #EAE696
Teal: #70C9A9
Shadow Teal: #1F635A*/